.profile__changeAvatarBtn {
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    border: none;
    min-width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: opacity .3s ease-out;
}

.profile__changeAvatarBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.profile__changeAvatarBtn:hover:after {

    background-repeat: no-repeat;
    content: '';
    background-image: url("../../../images/AvatarEdit.svg");
    min-width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    background-position: center;
    top: 0;
    right: 0;
    color: white;

}

