.modal-post {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal-post.modal-post_active {
    visibility: visible;
    opacity: 1;
}