.modal__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 430px;
    z-index: 2;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: auto;
}

@media screen and (max-width: 420px) {
    .modal__container {
        width: 282px;
        height: 322px;
    }

}