.profile {
    display: flex;
    margin-top: 40px;
    justify-content: end;
}

@media screen and (max-width: 420px) {
    .profile {
        flex-direction: column;
        margin: 38px auto 0;
        align-items: center;
    }
}