.profile__description {
    max-width: 250px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 420px) {
    .profile__description {
        max-width: 180px;
        font-size: 14px;
        line-height: 17px;
    }

}