.profile__edit-button {
    background-image: url("../../../images/Edit-Button.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 24px;
    height: 24px;
    margin: auto auto auto 0;
    padding: 0;
    transition: opacity 0.3s ease-out;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}